In [8]:
import pandas as pd

In [9]:
data = {
    "height_cm": [170, 165, 180, 175, 172, 168, 180, 175],
    "weight_kg": [65, 70, 80, 75, 72, 66, 80, 75],
    "age":       [25, 30, 35, 40, 28, 32, 35, 40],
    "city":      ["Dhaka", "Chattogram", "Dhaka", "Khulna", "Dhaka", "Dhaka", "Sylhet", "Khulna"],
}

In [10]:
df = pd.DataFrame(data)

In [12]:
print(df)

   height_cm  weight_kg  age        city
0        170         65   25       Dhaka
1        165         70   30  Chattogram
2        180         80   35       Dhaka
3        175         75   40      Khulna
4        172         72   28       Dhaka
5        168         66   32       Dhaka
6        180         80   35      Sylhet
7        175         75   40      Khulna

In [ ]:
#mean median mode apply for weight_kg column

In [18]:
df.weight_kg

0    65
1    70
2    80
3    75
4    72
5    66
6    80
7    75
Name: weight_kg, dtype: int64

In [ ]:
df.weight_kg.mean()

Mean: 72.875

In [22]:
mean_value = df.weight_kg.mean()
print("Mean:", mean_value)

Mean: 72.875